{% extends "./layout-provider-current.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<style type="text/css">
	.govuk-checkboxes--small .govuk-checkboxes__item {
		min-height: 40px;
		margin-left: 10px;
	}
	.govuk-checkboxes--small .govuk-checkboxes__label::before {
		background: #fff;
	}
	.govuk-table__row.selected {
		background: #ffeede;
	}
</style>

{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		{% if showDeleteConfirmation %}
		<div class="govuk-inset-text govuk-inset-text--warning" id="alert">
			<h2 class="govuk-heading-s govuk-!-margin-bottom-0" style="display:inline-block">Funding deleted</h2>
			<span style="display:inline-block;float:right;font-size: 16px">
				<a href="#" onclick="document.getElementById('alert').parentNode.style.display='none';">Dismiss</a>
			</span>
		</div>
		{% endif %}
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<form action="confirm-employer">
			{% if data['reservations'].length %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					<h3 class="govuk-heading-xl govuk-!-margin-top-6">
						Manage funding for non-levy employers
					</h3>
				</div>
			</div>

			<table class="govuk-table govuk-!-font-size-16" id="funding-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th class="govuk-table__header"></th>
						<th class="govuk-table__header" scope="col" aria-sort="none">Employer</th>
						<th class="govuk-table__header" scope="col" aria-sort="none">Apprenticeship training</th>
						<th class="govuk-table__header" scope="col" aria-sort="none">Apprenticeship start date</th>
					</tr>
				</thead>

				<tbody class="govuk-table__body">
					{% for reservation in data['reservations'] %}
					{% set name = apprentice["first name"] + " " + apprentice["last name"] %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							{{ govukCheckboxes({
								idPrefix: "organisation",
								name: "organisation",
								classes: "govuk-checkboxes--small",
								attributes:
								{
									style: "min-height: auto"
								},
								formGroup: 
								{
									classes: "govuk-!-margin-bottom-0",
									attributes:
									{
										style: "min-height: auto"
									}
								},
								items:
								[
								{
									value: reservation.id,
									html: "<span class='govuk-visually-hidden'>select</span>"
								}
								]
							}) }}
						</td>
						<td class="govuk-table__cell">{{reservation.employer}}</td>
						<td class="govuk-table__cell">{{reservation.course}}</td>
						<td class="govuk-table__cell" data-sort-value="{{reservation.startDateFull}}">{{reservation.startMonth}} to {{reservation.endMonth}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			{% else %}

			<h2 class="govuk-heading-m">
				None of your employers have any funding to use.
			</h2>

			<p>
				You need to secure funding in order to add a new apprentice.
			</p>
			{% endif %}

			{% include './_secureFundingStartButton.html' %}
		</form>
	</div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/sortable-table.js"></script>

<script>
	var table = document.getElementById('funding-table');
	new SortableTable(table); 

	function checkboxes() {
		let checkbox = $('#funding-table .govuk-checkboxes__input');

		function highlightRow(row) {
			row.toggleClass('selected')
		}

		function unHighlightRow(row) {
			row.toggleClass('selected')
		}

		checkbox.on('change',function(){
			let row = $(this).closest('.govuk-table__row')

			if(this.checked){
				highlightRow(row)
			} else {
				unHighlightRow(row)
			}
		})
	}
	checkboxes()
</script>
{% endblock %}