{% extends "layout-provider-account.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Manage funding reserved for {{reservationDetails[0]['employer']}} 
    </h1>

    <form action="apprentice-details">
      <h2 class="govuk-heading-s">
        Apprenticeship training course
      </h2>
      <p>
        {{reservationDetails[0]['course']}}
      </p>

      <h2 class="govuk-heading-s">
        Dates
      </h2>
      <p>
        {{reservationDetails[0]['startMonth']}} to {{reservationDetails[0]['endMonth']}}
      </p>

      <h2 class="govuk-heading-s">
        Employer
      </h2>
      <p>
        {{reservationDetails[0]['employer']}}
      </p>
      
      <h2 class="govuk-heading-s">
        Date funds were secured
      </h2>
      <p>
        {{reservationDetails[0]['created']}}
      </p>


      <input type="hidden" name="employer" value="{{reservationDetails[0]['employer']}}">
      <input type="hidden" name="course-name" value="{{reservationDetails[0]['course']}}">
      <input type="hidden" name="choose-reservation" value="{{reservationDetails[0]['id']}}">

      <hr class="govuk-section-break govuk-section-break--xl">
      
      {{ govukButton({
        text: "Use this reservation",
        classes: "govuk-!-display-inline-block govuk-!-margin-right-2"
      }) }}

      {{ govukButton({
        text: "Delete this reservation",
        classes: "govuk-button--warning",
        href: "funding--delete?reservation-id=" + reservationDetails[0]['id']
      }) }}
    </form>
  </div>
</div>

{% endblock %}
