{% extends "./layout-provider-current.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="">
      <h1 class="govuk-heading-xl">
        Which non-levy employer are you reserving funds for?
      </h1>

      <form novalidate>
        {{ govukInput({
          label:
          {
            text: "Search employers",
            classes: "govuk-!-font-weight-bold"
          },
          id: "search-funding",
          name: "search-funding",
          value: data['search-funding'],
          formGroup:
          {
            classes: "govuk-!-margin-bottom-4"
          }
        }) }}

        {{ govukButton({
          text: "Search",
          classes: "govuk-!-margin-top-0 govuk-!-margin-right-4 govuk-!-display-inline-block"
        })}}

        {% if data['search-funding'] %}
        <a href="?search-funding=" class="govuk-!-margin-top-1 govuk-!-display-inline-block">
          Clear search
        </a>
        {% endif %}
      </form>

      {% import './apprentices.json' as apprenticesData %}
      <table class="govuk-table" id="employer-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" aria-sort="ascending">Employer</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Account name</th>
            <th class="govuk-table__header" colspan="2" scope="col">Agreement ID</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% for apprentice in apprenticesData.apprentices %}
          {% set name = apprentice["account name"] %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">{{apprentice.employer}}</th>
            <td class="govuk-table__cell">{{name}}</td>
            <td class="govuk-table__cell">{{apprentice.agreementID}}</td>
            <td class="govuk-table__cell" style="text-align: right"><a href="funding--confirm-employer?employer={{apprentice.employer}}&apprentice-name={{name}}&agreementID={{apprentice.agreementID}}">Select</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {{govukDetails({
        summaryText: "Why are some of my employers not on this list?",
        text: "You can only secure funds for employers that do not pay the apprenticeship levy. Therefore employers that pay the levy are not on this list."
      })}}
    </form>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/sortable-table.js"></script>

<script>
  var table = document.getElementById('employer-table');
  new SortableTable(table); 
</script>
{% endblock %}