{% extends "./layout-provider-current.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Reserve funding for non-levy employers
    </h1>

    <p>
      To reserve funds, you'll need: 
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        permission from the employer to reserve funding on their behalf
      </li>
      <li>
        the month you expect the apprenticeship training course to start
      </li>
      <li>
        the apprenticeship training course the apprentice will take
      </li>
    </ul>

    <p>
      <a href="funding--choose-employer" class="govuk-button govuk-button--start">
        Start
      </a>
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-related-items">
      <h2 class="govuk-heading-m">
        Related guidance
      </h2>
      
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
         <a class="govuk-link" href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work#non-levy-paying-employers"> Apprenticeship funding: how it works</a>
       </li>
       <li>
        <a class="govuk-link" href="https://www.gov.uk/government/publications/apprenticeship-funding-rules-2018-to-2019">Apprenticeship funding rules</a>
      </li>
      <li>
        <a class="govuk-link" href="https://www.gov.uk/government/publications/apprenticeship-funding-bands">Apprenticeship funding bands</a>
      </li>
      <li>
        <a class="govuk-link" href="https://www.gov.uk/take-on-an-apprentice" target="_blank">
          Employing an apprentice
        </a>
      </li>
    </ul>
  </div>
</div>
</div>

{% endblock %}
