{% extends "./layout--employer.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<div class="app-notification app-notification--success">
				<h1 class="govuk-heading-l app-content-required">
					Government funding is available for your apprenticeship
				</h1>
			</div>

			{% from "summary-list/macro.njk" import govukSummaryList %}

			{% set dateText %}
			{{data['reservation-startRange']}}
			{% if data['backdated'] == 'false' %}
			to {{data['reservation-endRange']}}
			{% endif %}
			{% endset %}

			{{ govukSummaryList({
				rows:
				[
				{
					key:
					{
						text: "Employer"
					},
					value:
					{
						text: data['employer']
					},
					actions:
					{
						items: 
						[
						{

						}
						]
					}
				},
				{
					key:
					{
						text: "Apprenticeship training start date"
					},
					value:
					{
						html: dateText
					},
					actions:
					{
						items:
						[
						{
							href: "funding--choose-month",
							text: "Change",
							visuallyHiddenText: "apprenticeship training start date"
						}
						]
					}
				},
				{
					key:
					{
						text: "Apprenticeship training course"
					},
					value:
					{
						html: data['course-name']
					},
					actions:
					{
						items:
						[
						{
							href: "funding--choose-course",
							text: "Change",
							visuallyHiddenText: "apprenticeship training course"
						}
						]
					}
				}
				]
			}) }}

			{{ govukRadios({
				idPrefix: "confirm-funding",
				name: "confirm-funding",
				fieldset:
				{
					legend:
					{
						text: "Do you want to reserve funding for this apprenticeship training now?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--l govuk-!-margin-top-4"
					}
				},
				hint:
				{
					text: "You are reserving funding for part, or all of the training cost for this apprenticeship. You may need to pay up to a maximum of 5% of the total training cost."
				},
				items: [
				{
					value: "yes",
					text: "Yes, reserve funding now"
				},
				{
					value: "no",
					text: "No, not right now"
				}
				]
			}) }}

			<p>
				{{govukButton({
					text: "Confirm"
				})}}
			</p>
		</form>
	</div>

	{% endblock %}
