
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Take on an apprentice
    </h1>{{releaseVersion | log }}

    <p>
      Ad officia nulla ea dolore ad aute duis in qui cupidatat dolor incididunt in irure deserunt officia aute deserunt dolore ut aliquip labore duis deserunt id ut.
    </p>

    <h2 class="govuk-heading-m">
      You will need:
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Lorem ipsum ut commodo aute.</li>
      <li>Ullamco quis officia proident.</li>
      <li>Fugiat mollit nisi laboris.</li>
    </ul>

    <p>
      Eu tempor eiusmod veniam cillum ad in et nulla velit ut occaecat in consequat dolor cillum aliqua veniam enim veniam magna sed ut anim dolor duis minim exercitation dolore ut consectetur nostrud culpa et deserunt ea id.
    </p>

    <p>
      <a href="have-account" class="govuk-button govuk-button--start">
        Start
      </a>
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-related-items">
      <h2 class="govuk-heading-m">
        Related
      </h2>
      
      <p>
        Blah blah blah
      </p>
    </div>
  </div>
</div>

{% endblock %}
