// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Mixins
@import "mixins/arrows";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "patterns/mixin-buttons";
@import "components/flash-cards";
@import "components/floating-menu";
@import "components/apprenticeship-service-header";
@import "components/header-user";
@import "components/alerts";
@import "patterns/notice-banner";
@import "patterns/notifications";
@import "components/accessible-autocomplete";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

@import "components/provider-add-details";
@import "patterns/card";
@import "components/sortable-table";
@import "components/checkmark";
@import "patterns/app-review-cohorts";
@import "patterns/account-homepage";
@import "components/search";
@import "components/search-autocomplete";


.heading-dashboard {
	padding-bottom: $govuk-gutter;
	border-bottom: 4px solid govuk-colour("grey-3");
}