<h3 class="govuk-heading-s" id="employer-journeys">
  Research
</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <strike>Employer journey</strike>
  </li>
  <li>
    <a href="/approve/sprint-02/research/providers/">Navigate the provider apprenticeship service</a>
  </li>
</ul>


<h3 class="govuk-heading-s" id="provider-journeys">
  <strike>Build</strike>
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <strike>Employer journey</strike>
  </li>
  <li>
    <strike>Provider journey</strike>
  </li>
</ul>