<h2 class="govuk-heading-m" id="sprint-0">
  Sprint 2
</h2>

<p>
  31st January&mdash;14th February 2019
</p>

<h3 class="govuk-heading-s" id="employer-journeys">
  Research
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <strike>Employer journey</strike>
  </li>
  <li>
    <a href="sprint-02/research/providers/account-home">Navigate the provider apprenticeship service</a>
  </li>
</ul>


<h3 class="govuk-heading-s" id="provider-journeys">
  <strike>Build</strike>
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <strike>Employer journey</strike>
  </li>
  <li>
    <strike>Provider journey</strike>
  </li>
</ul>