{% extends "layout-prototype-info.html" %}

{% set currentPage = 'approve' %}

{% block content %}

<h2 class="govuk-heading-m" id="sprint-3">
  Research into Navigation on the Provider apprenticeship service
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="current">Current homepage</a>
  </li>
  <li>
    <a href="dashboard-1">Concept A</a> - "dashboard plus topic-based links"
  </li>    
  <li>
    <a href="home-1">Concept C</a> - "search based"
  </li>
  <li>
    <a href="home-2">Concept D</a> - "redacted"
  </li>
</ul>

{% endblock %}