{% extends "./layout--provider-current.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set currentPage = 'login' %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			Sign in
		</h1>

		<form action="choose-submission">			
			{{ govukInput({
				label:
				{
					text: "User ID or email address"
				},
				id: "user-id",
				name: "user-id",
				classes: "govuk-!-width-two-thirds"
			}) }}

			{{ govukInput({
				label:
				{
					text: "Password"
				},
				id: "password",
				type: "password",
				name: "password",
				classes: "govuk-!-width-two-thirds"
			}) }}

			{{ govukButton({
				text: "Sign in",
				href: "current"
			})}}

			<h2 class="govuk-heading-m">Problems signing in?</h2>

			<ul class="govuk-list">
				<li><a href="/docs/tutorials-and-examples">I forgot my password</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">I don't have an account</a></li>
			</ul>
		</form>
	</div>
</div>

{% endblock %}
