
<h2 class="govuk-heading-l" id="sprint-0">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 8
  <span class="govuk-caption-l">
    26th April &mdash;9th May 2019
  </span>
</h2>

<h3 class="govuk-heading-m" id="employer-journeys">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
      <h4 class="govuk-heading-s">
          Employer journey - iteration #2
        </h4>
    
        <ul class="govuk-list govuk-list--bullet">                        
          <li>
            <a href="sprint-08/research/employers/manage-your-apprentices/manage-your-apprentices">Manage your apprentices</a>
          </li>
          <li>
            <a href="sprint-08/research/employers/manage-your-apprentices/manage-your-apprentices-alerts">Manage your apprentices with alerts</a>
          </li>
        </ul>
    
    <h4 class="govuk-heading-s">
      Employer journey
    </h4>
    <ul class="govuk-list govuk-list--bullet">                        
      <li>
        <a href="sprint-08/research/employers/manage-your-apprentices/manage-your-apprentices-a">Manage your apprentices</a>
      </li>      
    </ul>

  </div>
  <div class="govuk-grid-column-one-half">
    <h4 class="govuk-heading-s">
      Provider journey - iteration #2
    </h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="sprint-08/research/providers/manage-your-apprentices/manage-your-apprentices">Manage your apprentices</a>
      </li>
      <li>
        <a href="sprint-08/research/providers/manage-your-apprentices/manage-your-apprentices-alerts">Manage your apprentices with alerts</a>
      </li>
    </ul>
    <h4 class="govuk-heading-s">
        Provider journey
      </h4>
      <ul class="govuk-list govuk-list--bullet">                        
        <li>
          <a href="sprint-08/research/providers/manage-your-apprentices/manage-your-apprentices-a">Manage your apprentices</a>
        </li>      
      </ul>
  </div>
</div>