
<h2 class="govuk-heading-l" id="sprint-0">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 10
  <span class="govuk-caption-l">
    24th May&mdash;6th June 2019
  </span>
</h2>

<h3 class="govuk-heading-m" id="research">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h4 class="govuk-heading-s">
      Employer - adding multiple apprentice records
    </h4>    
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-10/research/employer/three-reservations-add-three/choose-reservation-3">Start with 3 reservations</a></li>      
    </ul>
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-10/research/employer/two-reservations-add-three/choose-reservation-2">Start with 2 reservations</a></li>      
    </ul>    
  </div>
  <div class="govuk-grid-column-one-half">
    <h4 class="govuk-heading-s">
      Provider homepage multi-variants
    </h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <strike><!--<a href="sprint-10/research/providers/account-home-a"></a>-->Version A</strike>
      </li>
      <li>
      <strike><!--<a href="sprint-10/research/providers/account-home-b"></a>-->Version B</strike>
      </li>
      <li>
      <strike><!--<a href="sprint-10/research/providers/account-home-c"></a>-->Version C</strike>
      </li>
    </ul>
  </div>
</div>

<h3 class="govuk-heading-m" id="build">
  Build
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="sprint-10/research/providers/manage-your-apprentices-filters">Provider manage your apprentices</a>
      </li>
    </ul>
  </div>
</div>