
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="confirm-provider">
      <h2 class="govuk-heading-xl">
        Find training provider
      </h2>

      {{ govukInput({
        label:
        {
          text: "Search for the training provider"
        },
        hint:
        {
          text: "You can search by the provider's name or UKPRN"
        },
        id: "provider-name",
        name: "provider-name"
      }) }}

      <p>
        {{ govukButton ({
          text: "Save and continue"
        })}}
      </p>
    </form>
  </div>

  {% endblock %}
