
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<!-- <img src="/public/images/tick.png" width="120px"> -->

			{% set disclosureHtml %}
			{{data['course-name']}}
			<br class="govuk-!-margin-bottom-2">
			{{ govukDetails({
				summaryText: "Can I change the course?",
				text: "You can change the course when you add an apprentice's details."
			}) }}
			{% endset %}

			<div class="app-notification app-notification--success">
				<h1 class="govuk-heading-l">
					Government funding is available for your planned apprenticeship 
				</h1>
			</div>

			{% if data['registered'] == 'false' %}
			<p class="govuk-body-l">
				You must create an Apprenticeships account to secure government funding.
			</p>
			{% endif %}

			{% from "summary-list/macro.njk" import govukSummaryList %}
			{{ govukSummaryList({
				rows:
				[
				{
					key:
					{
						text: "Employer"
					},
					value:
					{
						text: data['employer']
					},
					actions:
					{
						items: 
						[
						{

						}
						]
					}
				},
				{
					key:
					{
						text: "Apprenticeship training start date"
					},
					value:
					{
						html: data['reservation-startRange'] + " to " + data['reservation-endRange']
					},
					actions:
					{
						items:
						[
						{
							href: "javascript: window.history.go(-2)",
							text: "Change",
							visuallyHiddenText: "contact information"
						}
						]
					}
				},
				{
					key:
					{
						text: "Apprenticeship training"
					},
					value:
					{
						html: disclosureHtml
					},
					actions:
					{
						items:
						[
						{
							href: "javascript: window.history.go(-1)",
							text: "Change",
							visuallyHiddenText: "date of birth"
						}
						]
					}
				}
				]
			}) }}

			{% if data['loggedIn'] == 'true' %}
			{{ govukRadios({
				classes: "govuk-radios--",
				idPrefix: "confirm-funding",
				name: "confirm-funding",
				fieldset:
				{
					legend:
					{
						text: "Do you want to secure funding for this apprenticeship training now?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--l"
					}
				},
				items: [
				{
					value: "yes",
					text: "Yes, secure funding now"
				},
				{
					value: "no",
					text: "No, save this for later"
				}
				]
			}) }}

			{{govukWarningText({
				html: "Remember you may need to pay towards the cost of training your apprentice.",
				iconFallback: "Important information"
			})}}

			<p>
				{{govukButton({
					text: "Save and continue"
				})}}
			</p>

			{% else %}
			
			<hr class="govuk-section-break govuk-section-break--xl">
			{{ govukRadios({
				classes: "govuk-radios--",
				idPrefix: "create-account",
				name: "create-account",
				fieldset:
				{
					legend:
					{
						text: "Do you want to create an account now?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--l"
					}
				},
				hint:
				{
					text: "You will need to register in order to guarantee government funding for this apprenticeship."
				},
				items: [
				{
					value: "yes",
					text: "Yes"
				},
				{
					value: "no",
					text: "No"
				}
				]
			}) }}

			<p>
				{{ govukButton ({
					text: "Save and continue"
				})}}
			</p>
			{% endif %}
		</form>
	</div>

	{% endblock %}
