{% extends "layout-account-prototype.html" %}

{% block pageTitle %}
  Apprentice details
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" class="form">

      <h1 class="govuk-heading-xl">
        Sarah Philips
      </h1>

      {{ govukInsetText({
        text: "Edit details if there's a change in apprentice or apprenticeship circumstances."
      }) }}

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Status
          </dt>
          <dd class="app-check-your-answers__answer">
            Live
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="change-apprentice-status">
              Edit status<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Training provider
          </dt>
          <dd class="app-check-your-answers__answer">
            APEX TRAINING LIMITED
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              <span class="govuk-visually-hidden">Edit training provider</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Cohort reference
          </dt>
          <dd class="app-check-your-answers__answer">
            VKKG8P
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              <span class="govuk-visually-hidden">Edit cohort reference</span>
            </a>
          </dd>
        </div>
      </dl>

        <!--only add a heading for a list if there is more than one list-->
        <h2 class="govuk-heading-m">
          Apprentice details
        <span style="float:right; text-align:right; font-weight:400; font-size:19px;"><a href="#">Edit</a></span>
        </h2>
        <dl class="app-check-your-answers app-check-your-answers--short">        
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Name
          </dt>
          <dd class="app-check-your-answers__answer">
            Sarah Philips
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="apprentice-details#name">
              <span class="govuk-visually-hidden">Edit name</span>
            </a>
          </dd>
        </div>        
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Unique learner number
          </dt>
          <dd class="app-check-your-answers__answer">
            123456789A
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              <span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Date of birth
          </dt>
          <dd class="app-check-your-answers__answer">
            5 January 2002
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              <span class="govuk-visually-hidden">Edit date of birth</span>
            </a>
          </dd>
        </div>
      </dl>

        <h2 class="govuk-heading-m">
          Apprenticeship details
        </h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Apprenticeship training course
          </dt>
          <dd class="app-check-your-answers__answer">
            Bespoke Saddler, Level 5 (Standard)
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              <span class="govuk-visually-hidden">Edit apprenticeship training course</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Planned training start date
          </dt>
          <dd class="app-check-your-answers__answer">
            February 2019
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              <span class="govuk-visually-hidden">Edit planned training start date</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Planned training finish date
          </dt>
          <dd class="app-check-your-answers__answer">
            March 2020
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              <span class="govuk-visually-hidden">Edit planned training finish date</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Total agreed apprenticeship price (excluding VAT)
          </dt>
          <dd class="app-check-your-answers__answer">
            £1,500
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              <span class="govuk-visually-hidden">Edit total agreed apprenticeship price (excluding VAT)</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Reference (optional)
          </dt>
          <dd class="app-check-your-answers__answer">
            This is my reference
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              <span class="govuk-visually-hidden">Edit reference</span>
            </a>
          </dd>
        </div>
      </dl>
    </form>
    </div>
  </div>
{% endblock %}
