{% extends "layout-account-prototype.html" %}

{% block pageTitle %}
  Change apprenticeship status
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Change apprenticeship status
                </h1>
              </legend>
              
              <div class="govuk-body-l">
                <p class="govuk-body govuk-!-font-size-24">Which status change would you like to make?</p>
                <h2 class="govuk-!-font-weight-bold govuk-heading-m">Pause an apprenticeship to:</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>record a break in learning</li>
                    <li>freeze payments to a training provider for a period of time</li>
                  </ul>
                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                  <h2 class="govuk-!-font-weight-bold govuk-heading-m">Stop an apprenticeship to:</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>change your training provider during the lifetime of a course</li>
                    <li>terminate the apprenticeship and cancel all future payments</li>
                  </ul>
              </div>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                    Pause the apprenticeship
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Stop the apprenticeship
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                    Go back to apprentice details
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          {{ govukButton({
            text: "Save and continue",
            href: "interrupt"
          }) }}

        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}