{% extends "layout-account-prototype.html" %}

{% block pageTitle %}
  Stopping an apprenticeship
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>
          <div class="flash-card">
            <h1 class="govuk-heading-xl">Stopping an apprenticeship</h1>
            <div class="govuk-grid-row">
              
                  <p class="govuk-body-l">Once confirmed, this action cannot be undone.</p> 
                  <p class="govuk-body-l">Do not stop completed apprenticeships or apprenticeships with completion payments pending.</p>
              
              {{ govukButton({
                text: "I understand, continue",
                href: "stop-date"
              }) }}

              <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                <span class="summary"><a href="apprentice-details">Go back to apprentice details</a></span>
              </summary>
            </div>
          </div>

        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}