{% extends "layout-provider-account.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="add__confirm-employer">
      {% import './apprentices.json' as apprenticesData %}

      <h1 class="govuk-heading-xl">
        Choose an employer
      </h1>

      <p>
        Choose an employer you want to create a new cohort on behalf of.
      </p>

      <p>
        {{apprenticesData.apprentices.length}} results found.
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Employer</th>
            <th class="govuk-table__header" scope="col">Account name</th>
            <th class="govuk-table__header" colspan="2" scope="col">Agreement ID</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% for apprentice in apprenticesData.apprentices %}
          {% set name = apprentice["account name"] %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{apprentice.employer}}</td>
            <td class="govuk-table__cell">{{name}}</td>
            <td class="govuk-table__cell">{{apprentice.agreementID}}</td>
            <td class="govuk-table__cell" style="text-align: right"><a href="add__confirm-employer?employer={{apprentice.employer}}&apprentice-name={{name}}&agreementID={{apprentice.agreementID}}">Select</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>

  {% endblock %}
