{% extends "./layout-provider-current.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        You need permission to do this
      </h1>

      <p class="govuk-body-l">
        An employer needs to give you permission first before you can do this on their behalf.
      </p>

      {{govukButton({
        text: "Go to homepage",
        href: "account-home"
      })}}
    </form>
  </div>
</div>

{% endblock %}
