{% extends "./layout-provider-current.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Government funding is currently paused
    </h1>

    <p>
      There’s currently a pause on government funding for non-levy employers taking on new apprentices.
    </p>

    <p>
      You will continue to receive government funding for any apprenticeship training you currently have.
    </p>

    <p>
      {{govukButton({
        text: "Return to account",
        href: "account-home"
      })}}
    </p>
  </div>
</div>

{% endblock %}