<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s" id="employer-journeys">
      Research
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="sprint-02/research/employer/">Employer journey</a>
      </li>
      <li>
        <a href="sprint-02/research/provider/">Provider journey</a>
      </li>
    </ul>

  </div>

  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s" id="provider-journeys">
      <strike>Build</strike>
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <strike>Employer journey</strike>
      </li>
      <li>
        <strike>Provider journey</strike>
      </li>
    </ul>
  </div>
</div>