{% extends "./layout--employer.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      {{ govukDateInput({
        id: "planned-start-date",
        namePrefix: "planned-start-date",
        fieldset:
        {
          legend:
          {
            text: "When did the apprentice start their off-the-job training?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl govuk-!-margin-top-6"
          }
        },
        items:
        [
        {
          name: "month",
          id: "month",
          classes: "govuk-input--width-2"
        },
        {
          name: "year",
          id: "year",
          classes: "govuk-input--width-4"
        }
        ],
        hint:
        {
          text: "For example, 3 2019"
        }
      }) }}

      <p>
        {{ govukButton ({
          text: "Save and continue"
        })}}
      </p>
    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
  $(document).ready(function() {
    $('.autocomplete-element').each(function() {
      var selectEl = document.querySelector('#' + $(this).attr('id') )
      accessibleAutocomplete.enhanceSelectElement({
        autoselect: false,
        defaultValue: '',
        minLength: 2,
        selectElement: selectEl,
        placeholder: 'Start typing to search apprenticeships',
        showAllValues: true
      })
    })
  })


  $(document).ready(function(){
    var startInput = $("#reservation-startRange");
    var endInput = $("#reservation-endRange");
    endInput.parent().hide();

    startInput.prepend("<option value='Select a month' selected>Select a month</option>");

    startInput.on('change', function(){
        // endInput.find('option').remove().end();
        var selectedIndex = $(this).prop('selectedIndex') - 1

        endInput.children(':lt(' + selectedIndex + ')').prop('disabled', true);
        endInput.children(':lt(' + (selectedIndex+2) + ')').prop('disabled', true);
        endInput.children(':gt(' + selectedIndex + ')').prop('disabled', false);
        endInput.children(':eq(' + selectedIndex + ')').prop('disabled', false);
        endInput.children(':not([disabled]):first').prop('selected', true);
        endInput.parent().show();
      })
  })
</script>
{% endblock %}