{% extends "./layout--employer.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="funding--choose-legal-entity">
      <h1 class="govuk-heading-xl">
        Get funding for taking on an apprentice
      </h1>

      <p>
        Use this service to reserve government funding for training an apprentice. Government funding will pay for part, or all of the cost of training an apprentice. You can reserve funding no more than 6 months in advance of the date the apprentice starts their off-the-job training. 
      </p>

      <p>
        Before you start you will need:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          an estimate of which month the apprentice will start their apprenticeship training, which can be flexible up to 3 months
        </li>
        <li>
          an idea of the <a href="#">apprenticeship training</a> the apprentice will take (optional)
        </li>
      </ul>

      <p>
        You will be reserving funding for 1 apprentice at a time. Repeat the process for more apprentices.
      </p>  

      <input type="hidden" value="" name="planned-start-date">
      <input type="hidden" value="" name="course-name">

      <p>
        {{govukButton({
          text: "Start",
          classes: "govuk-button--start"
        })}}
      </p>
    </form>
  </div>

  <div class="govuk-grid-column-one-third">
    <!-- <div class="app-related-items">
      <h2 class="govuk-heading-m">
        Related
      </h2>
      
      <p>
        Blah blah blah
      </p>
    </div> -->
  </div>
</div>

{% endblock %}
