// Pattern: flash cards
// Problem: interupt the user with important information

$page-colour: #fff;

.circle-white {
  color: govuk-colour("blue");
  background: #fff;
  float: left;
  margin-right: 10px;
}

.flash-card {
  margin-top: 1em;
  padding: 30px;
  background: $govuk-link-colour;

  .govuk-button {
    background: #fff;
    color: govuk-colour('blue') !important;
    box-shadow: 0 2px 0 darken(govuk-colour('blue'),25%);
  }

  * {
    color: $page-colour !important;
  }

  .govuk-warning-text__icon {
    color: govuk-colour("blue") !important;
    background: #fff;
    border-color: #fff
  }

  h1 {
    &:first-of-type {
      margin-top: 0 !important;
    }
  }

  h2 {
    margin: 0.7em 0px 0.3em 0px !important;
  }

  a {
    color: $page-colour;
    &:visited, &:hover, &:active {
      color: $page-colour; }
    }
    details {
      // margin-bottom: 1em;
      summary {
        color: $page-colour;
      }
      .panel {
        border-left-color: $page-colour;
      }
    }
    // .button {
    //   color: $link-colour;
    //   background-color: $page-colour;
    //   // Link styles
    //   a {
    //     color: $link-colour;
    //   }
    //   &:visited {
    //     color: $link-visited-colour;
    //   }
    //   &:hover {
    //     color: $link-hover-colour;
    //   }
    //   &:active {
    //     color: $link-active-colour;
    //   }
    // }
  }

  @media (min-width: 769px) {
    .flash-card {
      margin-top: 1.25em;
      padding: 35px 50px;
    }
  }
