/*floating menu style - EMPLOYER */
#floating-menu-holder {
	background: govuk-colour("light-purple");

	@include govuk-media-query($from: tablet) {
		padding: 0 30px;
	}
}

.sticky-nav {
	.floating-menu {
		position: fixed;
		top: 0;
		left: 0;
		max-width: 100%;
	}

	.js-float {
		max-width: 960px;
		margin: 0 auto;

		@include govuk-media-query($from: tablet) {
			padding: 0 30px;
		}
	}
}

.floating-menu {
	clear: both;
	max-width: 960px;
	width: 100%;
	background: govuk-colour("light-purple");

	* {
		color: #fff;
	}
	
	z-index: 1;
	margin: 0 auto;

	nav#user-nav {
		clear: both;
		float: left;
		margin: 0 0 0 20px;

		@include govuk-media-query($from: tablet) {
			margin: 0;
			clear: none;
			float: right;
		}


		li {

			a {
				border: 0;
				color: #fff;
			}

			.has-sub-menu {
				a.menu-main {
					border: 0;
					color: #fff;
				}
			}

			.open {
				a.menu-main {
					color: #4c2c92;
				}
			}
		}
	}

	p.floating-head-text {
		float: left;
		margin: 10px 0 0 10px;
		text-align: left;
		font-weight: bold;
		font-size: 19px;

		@include govuk-media-query($from: tablet) {
			margin: 10px 0 0 0px;
		}
	}
}

/* - END floating menu style */