{% extends "layout-prototype-info.html" %}

{% set currentPage = 'approve' %}

{% block content %}

<h2 class="govuk-heading-m" id="sprint-3">
  Research into Navigation on the Provider apprenticeship service
</h2>

<h3 class="govuk-heading-s" id="employer-journeys">
  Second iteration of the homepage
</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="account-home">Current homepage</a> - with Recruit
  </li>
  <li>
    <a href="account-home-5">Concept A</a> - "topic-based"
  </li>
  <li>
    <a href="dashboard-1">Concept B</a> -  "dashboard"
  </li>
  <li>
    <a href="account-home-research-banner">Example of research banner</a>
  </li>
</ul>

{% endblock %}