
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="flash-card">
      <header>
        <h1 class="govuk-heading-xl">
          Something about not knowing the date
        </h1>
      </header>
      
      <p>
        Sed pariatur magna mollit dolor ex proident anim fugiat cillum ad id amet dolore dolore ut commodo anim deserunt magna est in officia.
      </p>

        <a href="have-account" class="govuk-button">
          Continue
        </a>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
