
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      {{ govukRadios({
        idPrefix: "know-details",
        name: "know-details",
        fieldset:
        {
          legend:
          {
            text: "Do you have the apprentice's details?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint:
        {
          text: "Stuff like name, DoB, address etc."
        },
        items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
        ]
      }) }}

      <p>
        {{ govukButton ({
          text: "Save and continue"
        })}}
      </p>
    </form>
  </div>

  {% endblock %}
