
{% extends "layout-account.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="app-content-required">Reserve funding for apprenticeship training</span>
    </h1>{{releaseVersion | log }}

    <p class="app-content-required">
      All you need to complete this task is a rough idea of when you expect the apprenticeship to start and what level it is likely to be. 
    </p>

    <p class="govuk-!-margin-top-8">
      <a href="warning" class="govuk-button govuk-button--start">
        Start
      </a>
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <!-- <div class="app-related-items">
      <h2 class="govuk-heading-m">
        Related
      </h2>
      
      <p>
        Blah blah blah
      </p>
    </div> -->
  </div>
</div>

{% endblock %}
