<h3 class="govuk-heading-m" id="employer-journeys">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h4 class="govuk-heading-s">
      Employer journeys
    </h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <b><a href="sprint-09/research/employer/account-home?funding-restrictions=">Default (no restrictions)</a></b>
      </li>
      <li>
        <a href="sprint-09/research/employer/account-home?funding-restrictions=current-restriction">Funding restriction in place</a>
      </li>
      <li>
        <a href="sprint-09/research/employer/account-home?funding-restrictions=future-restriction">Upcoming funding restriction</a>
      </li>
      <li>
        <a href="sprint-09/research/employer/account-home?funding-restrictions=number-of-starts">Restricted to 1 reservation</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-half">
    <h4 class="govuk-heading-s">
      Provider journeys (v1)
    </h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <b><a href="sprint-09/research/provider-v1/account-home?funding-restrictions=">Default (no restrictions)</a></b>
      </li>
      <li>
        <a href="sprint-09/research/provider-v1/account-home?funding-restrictions=current-restriction">Funding restriction in place</a>
      </li>
      <li>
        <a href="sprint-09/research/provider-v1/account-home?funding-restrictions=future-restriction">Upcoming funding restriction</a>
      </li>
      <li>
        <a href="sprint-09/research/provider-v1/account-home?funding-restrictions=number-of-starts">Restricted to 1 reservation</a>
      </li>
    </ul>

    <ul class="govuk-list">
      <li>
        <a href="#">Funding restriction notice v1</a>
      </li>
      <li>
        <a href="#">Funding restriction notice v2</a>
      </li>
    </ul>

    <h4 class="govuk-heading-s">
      Provider journeys (v2 - bulk add)
    </h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <b><a href="sprint-09/research/provider-v2/account-home?funding-restrictions=">Default (no restrictions)</a></b>
      </li>
      <li>
        <a href="sprint-09/research/provider-v2/account-home?funding-restrictions=current-restriction">Funding restriction in place</a>
      </li>
      <li>
        <a href="sprint-09/research/provider-v2/account-home?funding-restrictions=future-restriction">Upcoming funding restriction</a>
      </li>
      <li>
        <a href="sprint-09/research/provider-v2/account-home?funding-restrictions=number-of-starts">Restricted to 1 reservation</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-half">
  </div>
</div>