
{% extends "layout-account.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="app-content-required">Reserve funding for apprenticeship training</span>
    </h1>{{releaseVersion | log }}
    
    <p class="app-content-required">
      Check if apprenticeship funding is available for the date you want your apprentice to start and reserve this now to guarantee the funding will be available when you need it.
    </p>

    <p>
      You will need:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a rough idea of when you expect the apprenticeship training to start</li>
      <li>what course it is likely to be</li>
      <li>what level the course is likely to be</li>
    </ul>

    <p>
      <a href="warning" class="govuk-button govuk-button--start">
        Start
      </a>
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <!-- <div class="app-related-items">
      <h2 class="govuk-heading-m">
        Related
      </h2>
      
      <p>
        Blah blah blah
      </p>
    </div> -->
  </div>
</div>

{% endblock %}
