{% extends "layout-provider-new-account.html" %}

{% set currentPage = 'account-home' %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-7">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl heading-dashboard" id="company-Name">
			APEX TRAINING LIMITED
			<span class="govuk-caption-xl">Account ID: 7JDYMV</span>
		</h1>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-grid-row page-dashboard">		
			<div class="govuk-grid-column-two-thirds">
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="add__choose-employer">Add details of new apprentices</a>
						</h2>
						<!--<p>Create new cohorts on behalf of an employer.</p>-->
					</div>

					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="manage-reservations">Get funding for training apprentices</a>
						</h2>
						<!--<p>Add and manage funds reserved on behalf of an employer.</p>-->
					</div>
				</div>

				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="#">Check the status of new apprentices</a>
						</h2>
						<!--<p>Review, edit, approve and add apprentices to new cohorts.</p>-->					
					</div>
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="#">View and update existing apprentice records</a>
						</h2>
						<!--<p>View and update approved apprentice records.</p>-->
					</div>

					
				</div>

				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="#">Create apprenticeship vacancies and manage applications</a>
						</h2>
						<!--<p>Create a vacancy to recruit an apprentice and manage applications.</p>-->
					</div>
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="#">View employers you are working with</a>
						</h2>
						<!--<p>View employers you work with and the permissions they've given you.</p>-->
					</div>
				</div>
			</div>

			<div class="govuk-grid-column-one-third">
				
			</div>
		</div>
	</div>
</div>

{% endblock %}