{% extends "layout-provider-new-account.html" %}

{% set currentPage = 'dashboard' %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-7">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl heading-dashboard" id="company-Name">
			APEX TRAINING LIMITED
			<span class="govuk-caption-xl">Account ID: 7JDYMV</span>
		</h1>
	</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
     <div class="card">
       <div class="card-body">
         <h3 class="govuk-heading-m card-heading">

           <a class="card-link" href="vacancies?status=live">
             <span class="card-number">9</span>
             unapproved apprentices
           </a>
         </h3>
       </div>

       <div class="card-task">
         <ul class="govuk-list">
           <li>
             <a class="govuk-link" href="vacancies?status=any" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment">6 awaiting employer approval</a>
           </li>
           <li>
             <a class="govuk-link" href="vacancies?status=any" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment">3 in draft</a>
           </li>
         </ul>
       </div>
     </div>
   </div>

   <div class="govuk-grid-column-one-third">
     <div class="card">
       <div class="card-body">
         <h3 class="govuk-heading-m card-heading">

           <a class="card-link" href="vacancies?status=rejected">
             <span class="card-number">10</span>
             active apprentices
           </a>
         </h3>
       </div>
       <div class="card-task">
         <ul class="govuk-list">
           <li>
             <a class="ga-track-anchor-click" href="vacancies?status=pending%20review" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment">9 live</a>
           </li>
           <li>
             <a class="ga-track-anchor-click" href="vacancies?status=pending%20review" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment">1 waiting to start</a>
           </li>
         </ul>
       </div>
     </div>
   </div>

   <div class="govuk-grid-column-one-third">
    <div class="card">
      <div class="card-body">
        <h3 class="govuk-heading-m card-heading">

          <a class="card-link" href="vacancies?status=rejected">
            <span class="card-number">850</span>
            expired apprentices
          </a>
        </h3>
      </div>
      <div class="card-task">
        <ul class="govuk-list">
          <li>
            <a class="ga-track-anchor-click" href="vacancies?status=pending%20review" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment">800 completed</a>
          </li>
          <li>
            <a class="ga-track-anchor-click" href="vacancies?status=pending%20review" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment">50 withdrawn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

   {% endblock %}