{% extends "layout-prototype-info.html" %}

{% block content %}

<h2 class="govuk-heading-m" id="sprint-2">
  Sprint 2 - Navigation on the provider apprenticeship service
</h2>

<h3 class="govuk-heading-s" id="employer-journeys">
  Information Architecture Research
</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="account-home">Option 1 - topic-based</a>
  </li>
  <li>
    <a href="task-list">Option 2 - task-list</a>
  </li>
  <li>
    <a href="dashboard">Option 3 - dashboard</a>
  </li>
  <li>
    <a href="step-by-step">Option 4 - step-by-step</a>
  </li>
</ul>

{% endblock %}