{% extends "layout-prototype-info.html" %}

{% set currentPage = 'approve' %}

{% block content %}

<h2 class="govuk-heading-m" id="sprint-2">
  Research into Navigation on the Provider apprenticeship service
</h2>

<h3 class="govuk-heading-s" id="employer-journeys">
  Topic-based design
</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="account-home">Option A</a>
  </li>
  <li>
    <a href="account-home-2">Option B</a>
  </li>
  <li>
    <a href="account-home-3">Option C</a>
  </li>
  <li>
    <a href="account-home-4">Option D</a>
  </li>
</ul>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="task-list">Task-based design</a>
  </li>
  <li>
    <a href="dashboard">Dashboard design</a>
  </li>
  <li>
    <a href="step-by-step">Stepped design</a>
  </li>
</ul>

{% endblock %}