{% extends "layout-provider-new-account.html" %}

{% set currentPage = 'account-home' %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-7">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl heading-dashboard" id="company-Name">
			APEX TRAINING LIMITED
			<span class="govuk-caption-xl">Account ID: 7JDYMV</span>
		</h1>
	</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row page-dashboard">		
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h2 class="govuk-heading-m">
                Add apprentices
              </h2>
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Add apprentice details</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">Approve apprentice records</a>
                </li>						
                <li>
                  <a class="govuk-link" href="#">Upload new apprentices from a file</a>
                </li>
              </ul>
            </div>
  
            <div class="govuk-grid-column-one-half">
              <h2 class="govuk-heading-m">
                Manage apprentices
              </h2>
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">View apprentice records</a>
                </li>					
                <li>
                  <a class="govuk-link" href="#">Edit apprentice records</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">Resolve a problem</a>
                </li>						
              </ul>
              </ul>
            </div>
          </div>         
  
<br>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h2 class="govuk-heading-m">
                Get funding
              </h2>
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Secure funding for non-levy employers</a>
                </li>					
                <li>
                  <a class="govuk-link" href="#">Manage funding reservations</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">How funding works</a>
                </li>						
              </ul>
            </div>
            <div class="govuk-grid-column-one-half">
              <h2 class="govuk-heading-m">
                  Recruit apprentices
              </h2>
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Create a new vacancy</a>
                </li>					
                <li>
                  <a class="govuk-link" href="#">Manage vacancies</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">Manage applications</a>
                </li>						
              </ul>
            </div>
            <div class="govuk-grid-column-one-third">
				
            </div>
          </div>

        </div>
	</div>
</div>

{% endblock %}