{% extends "layout-provider-account.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{% from "summary-list/macro.njk" import govukSummaryList %}

		{% set content %}
		<span class="govuk-!-font-size-24 govuk-!-display-block govuk-!-margin-bottom-2">{{ data['deleted-reservation-details'][0]['course'] }}</span>
		<span class="govuk-!-font-size-24 govuk-!-display-block govuk-!-margin-bottom-2">{{ data['deleted-reservation-details'][0]['startMonth'] }} to {{data['deleted-reservation-details'][0]['endMonth']}}</span>
		<span class="govuk-!-font-size-24 govuk-!-display-block govuk-!-margin-bottom-2">{{ data['deleted-reservation-details'][0]['employer'] }}</span>
		{% endset %}

		{{ govukPanel({
			titleText: "Reservation deleted",
			html: content
		}) }}

		<!-- <form method="post">
			{{ govukRadios({
				idPrefix: "whats-next",
				name: "whats-next",
				fieldset:
				{
					legend:
					{
						text: "What's next?",
						isPageHeading: true,
						classes: "govuk-fieldset__legend--m govuk-!-margin-top-4"
					}
				},
				items: [
				{
					value: "manage",
					text: "Manage reservations"
				},
				{
					value: "return-to-homepage",
					text: "Go to homepage"
				}
				]
			}) }} 

			<p>
				{{ govukButton ({
					text: "Save and continue"
				})}}
			</p>
		</form> -->

		{{ govukButton ({
			text: "Return to manage reservations",
			classes: "govuk-!-margin-top-3",
			href: "funding--manage"
		})}}
	</div>

	{% endblock %}
