
{% extends "layout-prototype-info.html" %}

{% set currentPage = 'approve' %}

{% block pageTitle %}
Reserve
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Approvals
    </h1>

    {% include './sprint-02/_summary.html' %}

    <hr class="govuk-section-break govuk-section-break--visible">
    <br>
    {% include './sprint-01/_summary.html' %}
    
  </div>

  <!--<div class="govuk-grid-column-one-third">
    <div class="app-related-items">
      <h2 class="govuk-heading-s">
        Contents
      </h2>

      <ul class="govuk-list">
        <li>
          <a href="#sprint-0">
            <a href="./sprint-01/_summary.html">
            Sprint 1
          </a>
        </li>      
      </div>
    </div>

  </div>-->

  {% endblock %}
