
<h2 class="govuk-heading-l" id="sprint-0">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 3
  <span class="govuk-caption-l">
    15th February&mdash;28th February 2019
  </span>
</h2>

<h3 class="govuk-heading-m" id="employer-journeys">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h4 class="govuk-heading-s">
      Employer journeys
    </h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="sprint-03/research/employers/stop-apprentice/apprentice-details">Stop apprentice</a>
      </li>
      <li>
        <a href="sprint-03/research/employers/stop-apprentice/completed-status">Completed status</a>
      </li>
      <li>
        Approval journey
      </li>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="sprint-03/research/employers/employer-approve/email">Desktop approval journey</a>
        </li>
        <li>
          <a href="sprint-03/research/employers/employer-approve/email1">Mobile approval journey</a>
        </li>
      </ul>
    </ul>
  </div>

  <div class="govuk-grid-column-one-half">
    <h4 class="govuk-heading-s">
      Provider journeys
    </h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>
       <a href="sprint-03/research/providers/">Homepage navigation</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-half">
  </div>
</div>

