<h2 class="govuk-heading-m" id="sprint-0">
  Sprint 1
</h2>

<p>
  14th&mdash;25th January 2019
</p>

<h3 class="govuk-heading-s" id="employer-journeys">
  Research
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="sprint-01/research/">Employer journey</a>
  </li>
  <li>
    <a href="sprint-01/build/providers/">Provider journey</a>
  </li>
</ul>


<h3 class="govuk-heading-s" id="provider-journeys">
  <strike>Build</strike>
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <strike>Employer journey</strike>
  </li>
  <li>
    <strike>Provider journey</strike>
  </li>
</ul>