{% extends "layout.html" %}

{% set bodyClasses = "account-home" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block main %}
<div class="app-account-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body-l govuk-!-margin-bottom-0">
          Your employer account
        </p>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
          {{data['employer']}}
        </h1>
      </div>
    </div>
  </div>
</div>

{% block content %}
<div class="app-account-main">
  <div class="govuk-width-container">
    {% if data['saved-for-later'] == 'true' %}
    <div class="app-notification app-notification--success">
        <h2 class="govuk-heading-m app-content-required">
          Funding for apprenticeship training was not reserved.
        </h2>
      </div>
    {% endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-fifths">
        <div class="app-cta-box app-cta-box--main">
          <h2 class="app-cta-box__heading">
            Check and reserve government funding
          </h2>

          <p>
           Check whether government funding is available to pay for part, or all of the cost of training an apprentice.
         </p>

         <p>
          <a href="funding--sc-check">
            Check and reserve funding now
          </a>
        </p>

        <p>
          <a href="funding--manage">
            Manage funding
          </a>
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-two-fifths">
      <div class="app-cta-box">
        <h2 class="app-cta-box__heading">
          ABC Training Ltd
          <span class="govuk-caption-m">
            UKPRN: 1000000
          </span>
        </h2>

        {% if data['given-permission'] == 'true' %}
        <p>
          You have given permission for {{data['provider-name']}} to do the following on behalf of {{data['employer']}}:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            reserve apprenticeship funding
          </li>
          <li>
            add and manage apprenticeships
          </li>
        </ul>
        {% else %}
        <p>
          You have not given permission to any providers to do tasks in your account on your behalf.
        </p>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-fifths">
      <div class="app-cta-box">
        <h2 class="app-cta-box__heading">
          Your saved apprenticeships and training providers
        </h2>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <p>
              <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">
                12
              </span>
              <br>
              <span class="govuk-!-font-size-16">
                Saved apprenticeships
              </span>
            </p>
          </div>

          <div class="govuk-grid-column-one-half">
            <p>
              <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">
                5
              </span>
              <br>
              <span class="govuk-!-font-size-16">
                Saved training providers
              </span>
            </p>
          </div>
        </div>

        <p>
          <a href="#">Back to preferences</a>
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-two-fifths">
      <div class="app-cta-box">
        <h2 class="app-cta-box__heading">
          Your account settings
        </h2>

        <ul class="govuk-list">
          <li>
            <a href="#">Manage notifications</a>
          </li>
          <li>
            <a href="#">Add user accounts</a>
          </li>
          <li>
            <a href="#">Change your password</a>
          </li>
          <li>
            <a href="#">Change your email addres</a>
          </li>
          <li>
            <a href="#">Rename your account</a>
          </li>
        </ul>
      </div>
    </div>
  </div>    
</div>
</div>

{% endblock %}


{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
  items: [
  {
    href: "prototype-settings",
    text: "Prototype settings"
  },
  {
    href: "/prototype-admin/clear-data",
    text: "Clear data"
  }
  ]
}
}) }}
{% endblock %}