{% extends "layout-provider-account.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
  $(document).ready(function() {
    $('.autocomplete-element').each(function() {
      var selectEl = document.querySelector('#' + $(this).attr('id') )
      accessibleAutocomplete.enhanceSelectElement({
        autoselect: false,
        defaultValue: '',
        minLength: 2,
        required: true,
        selectElement: selectEl,
        placeholder: 'Search for an apprenticeship',
        showAllValues: true
      })
    })
  })
</script>
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      {% call govukFieldset({
        legend:
        {
          text: "Which apprenticeship?",
          classes: "govuk-fieldset__legend--xl",
          isPageHeading: true
        }
      }) %}

      <div class="govuk-form-group">
        <label class="govuk-label" for="choose-apprenticeship">
          Choose apprenticeship
        </label>
        <div class="autocomplete-wrapper">
          <select class="autocomplete-element" id="course-name" name="course-name">
            <option value="">Select one</option>
            {% import 'includes/apprenticeships-list.html' as apprenticeshipsData %}
            {% for apprenticeship in apprenticeshipsData.apprenticeships %}
            <option value="{{apprenticeship.name}}, Level: {{apprenticeship.level}}{{' (Standard)' if apprenticeship.standard === true}}">{{apprenticeship.name}}, Level: {{apprenticeship.level}}{{" (Standard)" if apprenticeship.standard === true}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      {% endcall %}

      <p>
        {{ govukButton ({
          text: "Save and continue"
        })}}
      </p>
    </form>
  </div>

  {% endblock %}
