{% extends "layout-account--new.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Funding secured for this apprenticeship",
      classes: "govuk-!-margin-bottom-6"
    }) }}

    {% set disclosureHtml %}
    {{data['course-name']}}
    <br class="govuk-!-margin-bottom-2">
    {{ govukDetails({
      summaryText: "Can I change the course?",
      text: "You can change the course when adding an apprentice's details, without affecting your funding."
    }) }}
    {% endset %}

    {% from "summary-list/macro.njk" import govukSummaryList %}

    {{ govukSummaryList({
      rows:
      [
      {
        key:
        {
          text: "Employer"
        },
        value:
        {
          text: data['employer']
        }
      },
      {
        key:
        {
          text: "Apprenticeship start date"
        },
        value:
        {
          html: data['reservation-startRange'] + " to " + data['reservation-endRange']
        }
      },
      {
        key:
        {
          text: "Apprenticeship course"
        },
        value:
        {
          html: disclosureHtml
        }
      }
      ]
    }) }}

    <p>
      You can <a href="#" onclick="window.print();return false;">print this confirmation screen</a> to show your training provider that you have secured funding.
    </p>

    <h2 class="govuk-heading-l">
      Making changes 
    </h2>

    <p>
      You can change which apprenticeship training the apprentice will take, when you add an apprentice’s details. To make any other changes, you will need to start again and secure new funding.
    </p>

    <h2 class="govuk-heading-l">
      What you need to do now
    </h2>

    <p>
      If you know who your apprentice and training provider will be, you can add the apprentice’s information.
    </p>

    <p>
      If you do not know who the apprentice or training provider will be, follow these steps:
    </p>

    <ol class="govuk-list govuk-list--number">
      <li>Find an apprentice. You can use our <a href="#">recruitment service</a> to find an apprentice </li>
      <li>Find a training provider. Use the <a href="#">find apprenticeship training</a> service to find a training provider who offers the course you would like.</li>
      <li>Add information about your apprentice</li>
    </ol>


    <p>
      {{ govukButton ({
        text: "Add an apprentice",
        href: "add-apprentice",
        classes: "govuk-!-margin-bottom-2 govuk-!-margin-top-4"
      })}}
    </p>
    <p>
      <a href="account-home">Return to account</a>
    </p>
  </form>
</div>
</div>

{% endblock %}