
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Apprenticeship funds reserved",
      classes: "govuk-!-margin-bottom-8"
    }) }}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "changed-name",
      name: "changed-name",
      fieldset:
      {
        legend:
        {
          text: "Do you need to add the apprentice's details now?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint:
      {
        text: "This includes changing your last name or spelling your name differently."
      },
      items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
      ]
    }) }}

    <p>
      <a href="choose-date" class="govuk-button">
        Continue
      </a>
    </p>
  </div>
</div>

{% endblock %}
