
{% extends "layout.html" %}

{% set serviceName %}
{% endset %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Reserve and stuff
    </h1>

    <section>
      <h2 class="govuk-heading-l">
        MVP
      </h2>

      <h3 class="govuk-heading-m">
        Version 1
      </h3>
      <p>
        A pared-down concept that contains the smallest number of steps.
      </p>
      <p>
        We want to see which features are not needed for the user to complete the journey.
      </p>
      <a href="mvp-v1" class="govuk-button">
        Start
      </a>
    </section>

    <hr class="govuk-section-break govuk-section-break--xl">
    <section>
      <h2 class="govuk-heading-l">
        Transactional
      </h2>
      <h3 class="govuk-heading-m">
        Version 2
      </h3>
      <p>
        Complex, linear journey which ends up on a task list page.
      </p>
      <a href="transactional-v2" class="govuk-button">
        Start
      </a>

      <h3 class="govuk-heading-m">
        Version 1
      </h3>
      <p>
        Early transactional concept. A bit buggy.
      </p>
      <a href="transactional-v1" class="govuk-button">
        Start
      </a>
    </section>
  </div>
</div>

{% endblock %}
