
{% extends "layout-prototype-info.html" %}

{% set serviceName %}
{% endset %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" id="employer-journeys">
      Reserve and approve
    </h1>

    <h2 class="govuk-heading-l">
      Reserve
    </h2>

    <a href="/reserve/" class="govuk-button govuk-button--start">
      View reserve journeys
    </a>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      Approve
    </h2>

    <a href="/approve/" class="govuk-button govuk-button--start">
      View approve journeys
    </a>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Archive
    </h2>

    <p>
      Arcihve of work completed before 11 January 2019.
    </p>
    <a href="/archive/" class="govuk-button govuk-button--start">
      View archive
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <!-- <div class="app-related-items">
      <h2 class="govuk-heading-m">
        Contents
      </h2>

      <ul class="govuk-list">
        <li></li>
        </ul>
      </div> -->
    </div>
  </div>

  {% endblock %}
