
{% extends "layout.html" %}

{% set serviceName %}
{% endset %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Reserve funds and stuff
    </h1>

    <section>
      <h2 class="govuk-heading-l">
        MVP
      </h2>

      <h3 class="govuk-heading-m">
        Version 1
      </h3>
      <p>
        A pared-down concept that contains the smallest number of steps.
      </p>
      <p>
        We want to see which features are not needed for the user to complete the journey.
      </p>
      <p>
        <a href="mvp-v1">
          Start
        </a>
      </p>
    </section>

    <section class="govuk-!-margin-top-9">
      <h2 class="govuk-heading-l">
        Transactional
      </h2>
      <h3 class="govuk-heading-m">
        Version 2
      </h3>
      <p>
        Complex, linear journey which ends up on a task list page.
      </p>
      <p>
        <a href="transactional-v2">Start</a>
      </p>

      <h3 class="govuk-heading-m">
        Version 1
      </h3>
      <p>
        Early transactional concept. A bit buggy.
      </p>
      <p>
        <a href="transactional-v1">Start</a>
      </p>
    </section>

    <section class="govuk-!-margin-top-9">
      <h2 class="govuk-heading-l">
        Provider
      </h2>

      <h3 class="govuk-heading-m">
        Version 1
      </h3>
      <p>
        Initial concept for provider creating reservations on behalf of employer.
      </p>
      <p>
        <a href="provider-v1">Start</a>
      </p>
    </section>
  </div>
</div>

{% endblock %}
