{% extends "layout-prototype-info.html" %}

{% set currentPage = 'reserve' %}

{% block pageTitle %}
Reserve
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Reserve
    </h1>
    {% set sprint07Html %}
    {% include './sprint-07/_summary.html' %}
    {% endset %}

    {% set sprint06Html %}
    {% include './sprint-06/_summary.html' %}
    {% endset %}

    {% set sprint05Html %}
    {% include './sprint-05/_summary.html' %}
    {% endset %}

    {% set sprint04Html %}
    {% include './sprint-04/_summary.html' %}
    {% endset %}

    {% set sprint03Html %}
    {% include './sprint-03/_summary.html' %}
    {% endset %}

    {% set sprint02Html %}
    {% include './sprint-02/_summary.html' %}
    {% endset %}

    {% set sprint01Html %}
    {% include './sprint-01/_summary.html' %}
    {% endset %}

    {{sprint07Html | safe}}

    <hr class="govuk-section-break govuk-section-break--xl">

    <h2 class="govuk-heading-l">
      Previous sprints
    </h2>

    {% from "accordion/macro.njk" import govukAccordion %}
    {{ govukAccordion({
      id: "accordion-default",
      items:
      [
      {
        heading:
        {
          text: "Sprint 6"
        },
        content:
        {
          html: sprint06Html
        },
        summary:
        {
          html: '25th February&mdash;8th March 2019'
        }
      },{
        heading:
        {
          text: "Sprint 5"
        },
        content:
        {
          html: sprint05Html
        },
        summary:
        {
          html: '11th February&mdash;22nd February 2019'
        }
      },
      {
        heading:
        {
          text: "Sprint 4"
        },
        content:
        {
          html: sprint04Html
        },
        summary:
        {
          html: '28th January&mdash;8th February 2019'
        }
      },
      {
        heading:
        {
          text: "Sprint 3"
        },
        content:
        {
          html: sprint03Html
        },
        summary:
        {
          html: '14th January&mdash;25th February 2019'
        }
      },
      {
        heading:
        {
          text: "Sprint 2"
        },
        content:
        {
          html: sprint02Html
        },
        summary:
        {
          html: '2nd&mdash;11th January 2019'
        }
      },
      {
        heading:
        {
          text: "Sprint 1"
        },
        content:
        {
          html: sprint01Html
        },
        summary:
        {
          html: 'December 2018'
        }
      }
      ]
    }) }}
  </div>

  <div class="govuk-grid-column-one-third">
    
  </div>

  {% endblock %}
